<ion-header>
  <ion-toolbar>
    <ion-title>Vaccination pour tous (dès 18 ans)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/images/vaccin.jpg" alt="" />
  <h3> Les personnes de plus de 18 ans peuvent se faire vacciner sans conditions en centre de vaccination avec le vaccin
    Pfizer (ou Moderna uniquement pour la 2ème dose) ou en pharmacie ou chez leur médecin généraliste, dans un cabinet
    infirmier ou auprès d'une sage-femme avec le vaccin Moderna.
  </h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius ipsum ut luctus pharetra. Nulla non eros
    nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sodales justo eros, ac elementum risus
    tristique convallis. Aenean lectus metus, ultrices sit amet facilisis in, molestie vel mauris. Phasellus mattis
    porttitor placerat. Curabitur non ipsum pretium, aliquam eros a, venenatis dui. Cras auctor at quam eget accumsan.
    Vivamus mi orci, tincidunt sit amet nisl quis, rhoncus accumsan sem. Vestibulum vitae ex a ex laoreet pellentesque.
    Curabitur pulvinar justo augue, semper rhoncus lacus aliquam sed.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius ipsum ut luctus pharetra. Nulla non eros
    nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sodales justo eros, ac elementum risus
    tristique convallis. Aenean lectus metus, ultrices sit amet facilisis in, molestie vel mauris. Phasellus mattis
    porttitor placerat. Curabitur non ipsum pretium, aliquam eros a, venenatis dui. Cras auctor at quam eget accumsan.
    Vivamus mi orci, tincidunt sit amet nisl quis, rhoncus accumsan sem. Vestibulum vitae ex a ex laoreet pellentesque.
    Curabitur pulvinar justo augue, semper rhoncus lacus aliquam sed.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius ipsum ut luctus pharetra. Nulla non eros
    nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sodales justo eros, ac elementum risus
    tristique convallis. Aenean lectus metus, ultrices sit amet facilisis in, molestie vel mauris. Phasellus mattis
    porttitor placerat. Curabitur non ipsum pretium, aliquam eros a, venenatis dui. Cras auctor at quam eget accumsan.
    Vivamus mi orci, tincidunt sit amet nisl quis, rhoncus accumsan sem. Vestibulum vitae ex a ex laoreet pellentesque.
    Curabitur pulvinar justo augue, semper rhoncus lacus aliquam sed.</p>
  <!--Ici l'endroit prévu où la photo sera affichée -->
  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let photo of photoService.photos; index as position"
      >
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
