<ion-header>
  <ion-toolbar>
    <ion-title>COVID-19</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/images/covid-19.jpg" alt="" />
  <h3> Chiffres clés, interviews d'experts, questions-réponses, outils de prévention... tout savoir sur le coronavirus
    (SARS-CoV-2), COVID-19, son évolution en France et dans le Monde, et l’action de Santé publique France.
  </h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius ipsum ut luctus pharetra. Nulla non eros
    nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sodales justo eros, ac elementum risus
    tristique convallis. Aenean lectus metus, ultrices sit amet facilisis in, molestie vel mauris. Phasellus mattis
    porttitor placerat. Curabitur non ipsum pretium, aliquam eros a, venenatis dui. Cras auctor at quam eget accumsan.
    Vivamus mi orci, tincidunt sit amet nisl quis, rhoncus accumsan sem. Vestibulum vitae ex a ex laoreet pellentesque.
    Curabitur pulvinar justo augue, semper rhoncus lacus aliquam sed.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius ipsum ut luctus pharetra. Nulla non eros
    nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sodales justo eros, ac elementum risus
    tristique convallis. Aenean lectus metus, ultrices sit amet facilisis in, molestie vel mauris. Phasellus mattis
    porttitor placerat. Curabitur non ipsum pretium, aliquam eros a, venenatis dui. Cras auctor at quam eget accumsan.
    Vivamus mi orci, tincidunt sit amet nisl quis, rhoncus accumsan sem. Vestibulum vitae ex a ex laoreet pellentesque.
    Curabitur pulvinar justo augue, semper rhoncus lacus aliquam sed.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius ipsum ut luctus pharetra. Nulla non eros
    nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sodales justo eros, ac elementum risus
    tristique convallis. Aenean lectus metus, ultrices sit amet facilisis in, molestie vel mauris. Phasellus mattis
    porttitor placerat. Curabitur non ipsum pretium, aliquam eros a, venenatis dui. Cras auctor at quam eget accumsan.
    Vivamus mi orci, tincidunt sit amet nisl quis, rhoncus accumsan sem. Vestibulum vitae ex a ex laoreet pellentesque.
    Curabitur pulvinar justo augue, semper rhoncus lacus aliquam sed.</p>
</ion-content>
