<ion-header>
  <ion-toolbar>
    <ion-title>Jim Ryan affirme que la pénurie de PS5 sera bientôt terminée</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/images/ps5.jpg" alt=""/>
  <h3>Fini les temps difficiles pour la PS5, la situation s’améliorera bientôt pour la dernière console de Sony, foi de
    Jim Ryan.
    Bien que toujours engluée dans des problèmes de productions comme sa concurrente, la PS5 devrait être accessible
    plus facilement d’ici quelques semaines/mois.</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius ipsum ut luctus pharetra. Nulla non eros
    nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sodales justo eros, ac elementum risus
    tristique convallis. Aenean lectus metus, ultrices sit amet facilisis in, molestie vel mauris. Phasellus mattis
    porttitor placerat. Curabitur non ipsum pretium, aliquam eros a, venenatis dui. Cras auctor at quam eget accumsan.
    Vivamus mi orci, tincidunt sit amet nisl quis, rhoncus accumsan sem. Vestibulum vitae ex a ex laoreet pellentesque.
    Curabitur pulvinar justo augue, semper rhoncus lacus aliquam sed.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius ipsum ut luctus pharetra. Nulla non eros
    nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sodales justo eros, ac elementum risus
    tristique convallis. Aenean lectus metus, ultrices sit amet facilisis in, molestie vel mauris. Phasellus mattis
    porttitor placerat. Curabitur non ipsum pretium, aliquam eros a, venenatis dui. Cras auctor at quam eget accumsan.
    Vivamus mi orci, tincidunt sit amet nisl quis, rhoncus accumsan sem. Vestibulum vitae ex a ex laoreet pellentesque.
    Curabitur pulvinar justo augue, semper rhoncus lacus aliquam sed.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius ipsum ut luctus pharetra. Nulla non eros
    nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sodales justo eros, ac elementum risus
    tristique convallis. Aenean lectus metus, ultrices sit amet facilisis in, molestie vel mauris. Phasellus mattis
    porttitor placerat. Curabitur non ipsum pretium, aliquam eros a, venenatis dui. Cras auctor at quam eget accumsan.
    Vivamus mi orci, tincidunt sit amet nisl quis, rhoncus accumsan sem. Vestibulum vitae ex a ex laoreet pellentesque.
    Curabitur pulvinar justo augue, semper rhoncus lacus aliquam sed.</p>
</ion-content>
