/* Ici je change la couleur de l'icone et du bouton en utilisant la couleur fournie par Ionic,
 je fais comme ceci car si jamais je souhaite modifier tout le style de mon projet je n'ai qu'a changer les couleur
 de primary secondary etc et je m'évite donc beaucoup de modifications inutiles dans mon css.
 */
.homebutton{
  --background:var(--ion-color-primary);
}
.homeicon{
  color: var(--ion-color-tertiary-contrast);
}
img{
  height: auto;
}
