<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides pager="true">
    <ion-slide [routerLink]="['/covid-news-page']" (click)="vibration()">
      <img src="../../../assets/images/covid-19.jpg" alt=""/>
    </ion-slide>
    <ion-slide [routerLink]="['/vaccin-news-page']" (click)="vibration()">
      <img src="../../../assets/images/vaccin.jpg" alt=""/>
    </ion-slide>
    <ion-slide [routerLink]="['/ps5-news-page']" (click)="vibration()">
      <img src="../../../assets/images/ps5.jpg" alt=""/>
    </ion-slide>
  </ion-slides>


  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="{{toggle}}">
      <ion-item *ngFor="let new of news">
        <ion-card  [routerLink]="new.url" (click)="vibration()">
          <img src="{{new.image}}" alt="" width="600" height="400"/>
        <ion-card-header>
          <ion-card-title>{{new.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{new.description}}
        </ion-card-content>
        </ion-card>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
  </ion-reorder-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleReorder()">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
